.createPost-Wrapper{
    position:absolute;
    width:100%;
  height: calc(100vh - 4rem);
  background-image: url('../../../images/image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
}

.createPost{
    width:60%;
    padding:0.5rem 1rem;
    border-radius: 5px;
    /* box-shadow: 10px 10px 8px 10px #888888; */
    margin:0 auto;
    border:1px solid black;
    background-color: rgba(0,0,0,0.5);
    
}

.createPost h1, .create-form label{
    color:#fff;
}

.create-form{
    display: flex;
    flex-direction: column; 
}

.input-group{
    width:100%;
    margin-top: 0.5rem;
    display:flex;
    flex-direction: column;
}

.input-group input,.input-group textarea{
    padding:0.5rem;
    outline:none;
}

.input-group .image-input{
    padding:0;
    width:fit-content; 
}



.imagePreview{
    margin-top: 0.3rem;
    width:50px;
    height:50px;
    object-fit: cover;
}

.form-btn{
    background-color: var(--primary-blue);
    outline:none;
    border:none;
    color:#fff;
    padding:0.5rem;
    font-size: 20px;
}



@media screen and (max-width:768px){
    .createPost{
        width:80%;
    }

    .createPost h1{
        font-size:20px;
    }

    .input-group label{
        font-size:16px;
    }
}
