.header{
    position:relative;

}
.heroContainer{
    position:relative;
    object-fit: cover;
    height: 100vh;
    background: 
      url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG1vdW50YWlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
      background-size: cover;
   
}



.hero-text{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:1rem 2rem;
    background-color: hsl(0, 0%, 0%, 0.3);;
}

.hero-text h1,.hero-text p{
    color:#fff;
    padding: 0.5rem 0;
}

.btn{
    color:#fff;
    padding:1rem 1.5rem;
    background-color: var(--primary-blue);
    border-radius:8px;
    outline:none;
    border:none;
    margin-top: 10px;
}

