.navBar {
 
    height:4rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5c6a79;
    justify-content: space-between;
    padding:0 3rem;
    background-color: var(--secondary-blue);
    
}

.navLogo{
    color:#fff;
}
.navLogo span{
    color:var(--primary-blue);
}
.navRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar{
    display:flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    width:70px;
    
}
.avatarImg{
    max-width:30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    
}

.navLists{
    display: flex;
    list-style-type: none;
}

.nav-bars{
    display:none;
}

.navItem{
   list-style: none;
    margin-right: 1rem;
    cursor:pointer;
    color:#fff;
    padding:0px;
    text-align: center;
    text-decoration: none;
    
}

.navItem:hover {
    
    border-bottom: 2px solid var(--primary-blue);
}

.menu-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    

}

.loginBtn{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-blue);
    outline:none;
    margin-right: 0.5rem;
    border:none;
    color:#fff;
}

.loginBtn:hover{
    background-color: #333;
}

@media screen and (max-width:768px){
    .nav-bars{
        display:block;
    }
    .navLists{
        flex-direction: column;
        width:100%;
        
        top:4rem;
        left:0;
        position:absolute;
        text-align: center;
        background-color: rgba(0,0,0,0.9);
        z-index:5;
        
    }

    .navList{
        width:100%;
        padding:1.5rem 0;
        border-bottom: 1px solid #333;
    }

    .navItem{
        color:#fff;
        font-size: 18px;
        font-weight: 800;
    }

    .loginBtn{
        width:5rem;
        align-self: center;
        padding:1rem 0;
    }
    
}

@media screen and (max-width:400px){
    .navBar{
        padding:0 2rem;
    }
}

@media screen and (max-width:320px) {
    .navBar{
        padding:0 1rem;
    }
}